In [33]:
--Selected the count of records, count of description, count of listing price, and count of people last visited the site
--Joined fiance and traffics sheet by the product id

Select     
    count(*) as total_rows, 
    count(description) as count_description,
    count(listing_price) as count_listing_price,
    count(last_visited) as count_last_visited
from
    info
inner join finance 
    using (product_id)
inner join traffic 
    using (product_id);

1 rows affected.

[(3179, 3117, 3120, 2928)]

In [35]:
--Selected the brad, listing price(converted from float to integer, and number of records
--Joined brands and fiance by product id
--Where the listing is higher than 0

Select 
    brands.brand, finance.listing_price::integer, count(*)
from
    brands 
inner join 
      finance
    using(product_id)
where 
    listing_price > 0
group by
    brand, listing_price  
order by 
    listing_price desc;

 * postgresql:///sports
77 rows affected.

[('Adidas', 300, 2),
 ('Adidas', 280, 4),
 ('Adidas', 240, 5),
 ('Adidas', 230, 8),
 ('Adidas', 220, 11),
 ('Nike', 200, 1),
 ('Adidas', 200, 8),
 ('Nike', 190, 2),
 ('Adidas', 190, 7),
 ('Nike', 180, 4),
 ('Adidas', 180, 34),
 ('Nike', 170, 14),
 ('Adidas', 170, 27),
 ('Nike', 160, 31),
 ('Adidas', 160, 28),
 ('Adidas', 150, 41),
 ('Nike', 150, 6),
 ('Adidas', 140, 36),
 ('Nike', 140, 12),
 ('Adidas', 130, 96),
 ('Nike', 130, 12),
 ('Adidas', 120, 115),
 ('Nike', 120, 16),
 ('Nike', 110, 17),
 ('Adidas', 110, 91),
 ('Nike', 100, 14),
 ('Adidas', 100, 72),
 ('Adidas', 96, 2),
 ('Nike', 95, 1),
 ('Nike', 90, 13),
 ('Adidas', 90, 89),
 ('Adidas', 86, 7),
 ('Nike', 85, 5),
 ('Adidas', 85, 1),
 ('Adidas', 80, 322),
 ('Nike', 80, 16),
 ('Nike', 79, 1),
 ('Adidas', 76, 149),
 ('Adidas', 75, 1),
 ('Nike', 75, 7),
 ('Adidas', 70, 87),
 ('Nike', 70, 4),
 ('Adidas', 66, 102),
 ('Nike', 65, 1),
 ('Adidas', 63, 1),
 ('Nike', 60, 2),
 ('Adidas', 60, 211),
 ('Adidas', 56, 174),
 ('Adidas', 55, 2),
 ('Adidas', 53, 43),
 ('Nike', 50, 5),
 ('Adidas', 50, 183),
 ('Adidas', 48, 42),
 ('Nike', 48, 1),
 ('Adidas', 46, 163),
 ('Nike', 45, 3),
 ('Adidas', 45, 1),
 ('Adidas', 43, 51),
 ('Adidas', 40, 81),
 ('Nike', 40, 1),
 ('Adidas', 38, 24),
 ('Adidas', 36, 25),
 ('Adidas', 33, 24),
 ('Adidas', 30, 37),
 ('Nike', 30, 2),
 ('Adidas', 28, 38),
 ('Adidas', 27, 18),
 ('Adidas', 25, 28),
 ('Adidas', 23, 1),
 ('Adidas', 20, 8),
 ('Adidas', 18, 4),
 ('Adidas', 16, 4),
 ('Adidas', 15, 27),
 ('Adidas', 13, 27),
 ('Adidas', 12, 1),
 ('Adidas', 10, 11),
 ('Adidas', 9, 1)]

In [37]:
-- Selected  brand,  count of all products from finance, and total revenue
-- Created four fields based by price range as price_category
-- Joined byproduct_id and filter out products missing a value for brand

Select 
    brands.brand, 
    count(finance.product_id), 
    sum(finance.revenue) as total_revenue,
    Case 
        when listing_price < 42 then 'Budget'
        when listing_price >= 42 and listing_price < 74 then 'Average'
        when listing_price >= 74 and listing_price < 129 then 'Expensive'
        else 'Elite' End as price_category    
from
    brands
inner join finance
    using (product_id)
where 
    brands.brand is not null
group by
   brand, price_category
order by
    total_revenue desc;

 * postgresql:///sports
8 rows affected.

[('Adidas', 849, 4626980.069999999, 'Expensive'),
 ('Adidas', 1060, 3233661.060000001, 'Average'),
 ('Adidas', 307, 3014316.8299999987, 'Elite'),
 ('Adidas', 359, 651661.1200000002, 'Budget'),
 ('Nike', 357, 595341.0199999992, 'Budget'),
 ('Nike', 82, 128475.59000000003, 'Elite'),
 ('Nike', 90, 71843.15000000004, 'Expensive'),
 ('Nike', 16, 6623.5, 'Average')]

In [43]:
-- Calculated description_length
-- Convert rating to numeric and calculated average_rating
-- Joined byproduct_id 
-- Filtered products without missing values for description

select 
    trunc(length(i.description), -2) as description_length,
    round(avg(r.rating::numeric), 2) as average_rating
from info as i
inner join reviews as r 
    on i.product_id = r.product_id
where
    i.description is not null
group by
    description_length
order by
    description_length;

 * postgresql:///sports
7 rows affected.

[(Decimal('0'), Decimal('1.87')),
 (Decimal('100'), Decimal('3.21')),
 (Decimal('200'), Decimal('3.27')),
 (Decimal('300'), Decimal('3.29')),
 (Decimal('400'), Decimal('3.32')),
 (Decimal('500'), Decimal('3.12')),
 (Decimal('600'), Decimal('3.65'))]

In [45]:
-- Selected brand,last_visited by month, and a count of all products in reviews aliased as num_reviews
-- Join traffic with reviews and brands on product_id
-- Group by brand and month, filtering out missing values for brand and month
-- Order the results by brand and month
select 
    b.brand, 
    date_part('month', t.last_visited) as month, 
    count(r.*) as num_reviews
from brands as b
inner join traffic as t 
    on b.product_id = t.product_id
inner join reviews as r 
    on t.product_id = r.product_id
group by
    b.brand, month
having
    b.brand is not null and 
    date_part('month', t.last_visited) is not null
ordered by 
    b.brand, month;

 * postgresql:///sports
24 rows affected.

[('Adidas', 1.0, 253),
 ('Adidas', 2.0, 272),
 ('Adidas', 3.0, 269),
 ('Adidas', 4.0, 180),
 ('Adidas', 5.0, 172),
 ('Adidas', 6.0, 159),
 ('Adidas', 7.0, 170),
 ('Adidas', 8.0, 189),
 ('Adidas', 9.0, 181),
 ('Adidas', 10.0, 192),
 ('Adidas', 11.0, 150),
 ('Adidas', 12.0, 190),
 ('Nike', 1.0, 52),
 ('Nike', 2.0, 52),
 ('Nike', 3.0, 55),
 ('Nike', 4.0, 42),
 ('Nike', 5.0, 41),
 ('Nike', 6.0, 43),
 ('Nike', 7.0, 37),
 ('Nike', 8.0, 29),
 ('Nike', 9.0, 28),
 ('Nike', 10.0, 47),
 ('Nike', 11.0, 38),
 ('Nike', 12.0, 35)]